@import '~bootstrap/scss/bootstrap.scss';

.App {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2rem;
    box-shadow: 0px 3px 6px darkgrey;
  }

  .todo-input {
    display: flex;
    justify-content: center;

    .input-group {
      align-items: center;
    }
  }

  .todo-list, .completed-list {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;

    .todo-item {
      display: flex;
      justify-content: space-between;
      border-left: .8rem solid blue;
      cursor: move;
      opacity: 1;

      &.drag {
        opacity: .4;
      }

      span {
        font-size: 1.5rem;
        margin-left: 1rem;

        &.completed {
          text-decoration: line-through;
        }
        &.no-completed {
          text-decoration: none;
        }
      }

      .todo-item-action {
        display: flex;

        button {
          width: 10rem;
        }
      }
    }

    .completed-todo-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;

        &.hide {
          transform: rotate(180deg);
        }
      }
    }
  }
}
